<a href="https://colab.research.google.com/github/Haebuk/Python_Machine_Learning/blob/master/pandas_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dict_data = {'c0': [1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [ ]:
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index, fill_value=0)
print(ndf)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [ ]:
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')
ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [ ]:
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [ ]:
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [ ]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
os.environ['KAGGLE_USERNAME'] = "haebuk"
os.environ['KAGGLE_KEY'] = "7be7e6f6590d2e4e2b37c50726ba7138"
!kaggle competitions download -c titanic
!unzip titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.83MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 60.8MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 27.3MB/s]
unzip:  cannot find or open titanic, titanic.zip or titanic.ZIP.

In [ ]:
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [ ]:
nan_deck = df['deck'].value_counts(dropna=False)
print(nan_deck)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [ ]:
print(df.isnull().sum(axis=0))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df_thresh = df.dropna(axis=1, thresh=500)
print(df_thresh.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [ ]:
df_age = df.dropna(subset=['age'], how='any', axis=0)
print(len(df_age))

714

In [ ]:
print(df['age'].head(10))
mean_age = df['age'].mean()
df['age'].fillna(mean_age, inplace=True)
print(df['age'].head(10))

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64
0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64

In [ ]:
print(df['embark_town'][825:830])
print('\n')
most_freq = df['embark_town'].value_counts(dropna=True).idxmax()
print(most_freq)
print('\n')
df['embark_town'].fillna(most_freq, inplace=True)
print(df['embark_town'][825:830])

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object


Southampton


825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object

In [ ]:
df = sns.load_dataset('titanic')
print(df['embark_town'][825:830])
print('\n')

df['embark_town'].fillna(method='ffill', inplace=True)
print(df['embark_town'][825:830])
print('\n')

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object


825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829     Queenstown
Name: embark_town, dtype: object

In [ ]:
df = pd.DataFrame({'c1': ['a', 'a', 'b', 'a', 'b'],
                   'c2': [1, 1, 1, 2, 2],
                   'c3': [1, 1, 2, 2, 2]})

print(df)
print('\n')

df_dup = df.duplicated()
print(df_dup)
print('\n')

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2


0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
col_dup = df['c2'].duplicated()
print(col_dup)

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [ ]:
df2 = df.drop_duplicates()
print(df2)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df3 = df.drop_duplicates(subset=['c2','c3'])
print(df3)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [ ]:
from datetime import datetime

In [ ]:
ts_days_idx = pd.date_range('2021-07-01', periods=10)
ts_days_idx

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
series_ts = pd.Series(range(len(ts_days_idx)), index=ts_days_idx)
series_ts

2021-07-01    0
2021-07-02    1
2021-07-03    2
2021-07-04    3
2021-07-05    4
2021-07-06    5
2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

In [ ]:
series_ts.index

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start='2021-07-01', end='2021-07-10')

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start='2021-07-01 00:00:00', periods=10, freq='S')

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 00:00:01',
               '2021-07-01 00:00:02', '2021-07-01 00:00:03',
               '2021-07-01 00:00:04', '2021-07-01 00:00:05',
               '2021-07-01 00:00:06', '2021-07-01 00:00:07',
               '2021-07-01 00:00:08', '2021-07-01 00:00:09'],
              dtype='datetime64[ns]', freq='S')

In [ ]:
pd.date_range(start='2021-07-01 00:00:00', periods=10, freq='10S')

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 00:00:10',
               '2021-07-01 00:00:20', '2021-07-01 00:00:30',
               '2021-07-01 00:00:40', '2021-07-01 00:00:50',
               '2021-07-01 00:01:00', '2021-07-01 00:01:10',
               '2021-07-01 00:01:20', '2021-07-01 00:01:30'],
              dtype='datetime64[ns]', freq='10S')

In [ ]:
print(series_ts[6:],'\n')
print(series_ts.iloc[6:],'\n')
print(series_ts['2021-07-07':'2021-07-10'],'\n')
print(series_ts['07/07/21':'10/07/21'],'\n')

2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

In [ ]:
print(series_ts['2021'],'\n')
print(series_ts['2021-07'],'\n')

2021-07-01    0
2021-07-02    1
2021-07-03    2
2021-07-04    3
2021-07-05    4
2021-07-06    5
2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

2021-07-01    0
2021-07-02    1
2021-07-03    2
2021-07-04    3
2021-07-05    4
2021-07-06    5
2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

In [ ]:
print(series_ts.truncate(before='2021-07-05'),'\n')
print(series_ts.truncate(after='2021-07-05'),'\n')

2021-07-05    4
2021-07-06    5
2021-07-07    6
2021-07-08    7
2021-07-09    8
2021-07-10    9
Freq: D, dtype: int64

2021-07-01    0
2021-07-02    1
2021-07-03    2
2021-07-04    3
2021-07-05    4
Freq: D, dtype: int64